<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    
    <uses-permission android:name="android.permission.INTERNET"/>
    
    <application
        android:name=".UserApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TPSeminarioSofiaAsan"
        tools:targetApi="31">
        <activity
            android:name=".principal.ActivityUsuarioCorrecto"
            android:exported="false" />
        <activity
            android:name=".principal.ListadoActoresActivity"
            android:exported="false" />
        <activity
            android:name=".principal.elementoIndividual1"
            android:exported="false" />
        <activity
            android:name=".principal.listaDeElementos"
            android:exported="false" />
        <activity
            android:name=".principal.pantallaRegistro"
            android:exported="false" />
        <activity
            android:name=".principal.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>